<%= form_with model: @record, url: records_path, method: :post do |f| %>
  <div class="title">
    <%= f.label :見出し %>
    <%= f.text_field :title %>
  </div>

  <div class="content">
    <%= f.label :学習内容 %>
    <%= f.text_field :content %>
  </div>

  <div class="date">
    <%= f.label :日時%>
    <%= f.date_select :start_time %>
  </div>

  <div class="action">
    <%= f.submit "登録する" %>
  </div>

<% end  %>